  <!-- Info Section -->
      <div class="section two-column">
        <img class="img" src="https://images.unsplash.com/photo-1534777410147-084a460870fc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">
        <div class="about">
          <div class="margin">
            <h2>Who We Are</h2>
            <p>Founded in 1989, the Tallahassee Scientific Society serves Tallahassee and the North Florida community by presenting a variety of
              stimulating special events aimed at promoting science and science education. Today, the Society has grown to become the largest communitybased,
              non-profit organization of its kind in North Florida.

              <br><br><p>The Society is a membership-driven organization governed by an all-volunteer board of directors.
              Since 1994, the Society has operated formally as an IRS 501(c)(3) nonprofit organization.
              The organization is not affiliated with any university or other government or private institution and primarily relies on membership dues,
              sponsorships and donations to fund its programs.

              <br><br><p>Our membership represents a diverse array of people of all ages and from all walks of life. Most members are laypersons who do not
              specialize in science or technology but who share a keen interest in these fields as well as an interest in promoting a better public appreciation
              of science and science education.</p>
            <br><a href="#" class="btn">Learn More</a>
          </div>
        </div>
      </div>
