.banner {
  background: var(--dark);
  box-shadow: var(--shadow);
  color: var(--light);
  display: flex;
}

.img {
  max-width: 5%;
  height: auto;
  padding: 1rem;
}

.main-nav{
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  position: relative;
}

.main-nav a {
  background: var(--primary);
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  color: var(--dark);
  text-transform: uppercase;
  font-size: 1.1rem;
  box-shadow: var(--shadow);
  position: relative;
}

.main-nav a:hover {
  background: var(--dark);
  color: var(--primary);
}

.main-nav li {
  position: relative;
}

.main-nav li > ul {
  width: 100%;
}

.main-nav li ul {
  display: none;
  list-style: none;
  position: absolute;
}

.main-nav ul li{
  display:list-item;
  position: relative;
}

.main-nav li:hover > ul{
  display: inherit;
}

/* Change this in order to change the Dropdown symbol */
.main-nav a div{
  display: inline;
  padding-left: 4px;
}
/*

a:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}
*/
