<div class="wrapper">
  <section class="banner">
    <img class="img" src="../../favicon.ico" alt="">
    <div>
      <h1 class="vertical-center"> Tallahassee Scientific Society </h1>
    </div>
    </section>


  <div class="main-nav">
    <nav>
      <a routerLink="/about">About</a>
      <a routerLink="/activities">Activities</a>
      <a routerLink="/archives">Archives</a>
      <a routerLink="/calendar">Calendar</a>
      <a routerLink="/membership">Membership</a>
      <a routerLink="/contribute">Contribute</a>
    </nav>
  </div>
</div>
