<div class="wrapper"  (mouseleave)="hoverend($event)">

  <section class="banner">
    <img class="img" src="assets/images/logo.jpg" alt="">
    <div>
      <h1 class="vertical-center"> Tallahassee Scientific Society </h1>
    </div>
    </section>

    <div class="main-nav">
        <nav *ngFor="let element of navbar">
          <li>
            <a routerLink="/{{element | lowercase}}">{{element}}
              <div *ngIf="getSubNav(element).length"> ▾</div>
            </a>
            <ul>
              <div *ngFor="let sub of getSubNav(element)">
                <li><a routerLink="/{{sub}}">{{sub}}</a></li>
              </div>
            </ul>
          <li>
        </nav>
    </div>
</div>
